In [1]:
import torch

from typing import Tuple
from tqdm.notebook import tqdm
from peft import AutoPeftModelForCausalLM
from transformers import (
    BitsAndBytesConfig,
    pipeline,
    AutoTokenizer
)
from datasets import load_dataset


from reward import get_reward

SFT_ADAPTER_DIRECTORY = "./open_llama_3b_v2_sft/"
DPO_ADAPTER_DIRECTORY = "./open_llama_3b_v2_sft_plus_dpo/"

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.25.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
2023-12-14 04:14:23.702718: I tensorflow/core/util/port.cc:110] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2023-12-14 04:14:23.752957: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX512F AVX512_VNNI, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
# Model from Hugging Face hub
base_model = "openlm-research/open_llama_3b_v2"

In [3]:
# Load LLaMA tokenizer
tokenizer = AutoTokenizer.from_pretrained(base_model, trust_remote_code=True)
tokenizer.pad_token = tokenizer.eos_token
tokenizer.padding_side = "left"

You are using the default legacy behaviour of the <class 'transformers.models.llama.tokenization_llama.LlamaTokenizer'>. This is expected, and simply means that the `legacy` (previous) behavior will be used so nothing changes for you. If you want to use the new behaviour, set `legacy=False`. This should only be set if you understand what it means, and thoroughly read the reason why this was added as explained in https://github.com/huggingface/transformers/pull/24565

In [4]:
def load_model(adapter_dir):
    # Load DPO model
    quant_config = BitsAndBytesConfig(
        load_in_4bit=True,
        bnb_4bit_quant_type="nf4",
        bnb_4bit_compute_dtype=torch.float16,
        # torch_dtype=torch.float16,
        bnb_4bit_use_double_quant=False,
    )
    
    dpo_model = AutoPeftModelForCausalLM.from_pretrained(
        adapter_dir,
        quantization_config=quant_config,
        trust_remote_code=True,
        is_trainable=True,
    )
    
    dpo_model.config.use_cache = False
    dpo_model.config.pretraining_tp = 1
    
    return dpo_model.merge_and_unload().eval()

In [5]:
# sft_model = load_model(SFT_ADAPTER_DIRECTORY)

In [6]:
dataset_name = "samlhuillier/sql-create-context-spider-intersect"
response_template = "\n-- Answer:\n"
def format_prompt(example) -> Tuple[str, str]:
    return f"{example['context']} \n-- Question: {example['question']}{response_template}", example['answer']

In [7]:
dataset = load_dataset(dataset_name, split="validation").map(lambda example: {"query" : format_prompt(example)[0]})

In [8]:
dataset[0]

{'answer': 'SELECT count(*) FROM singer',
 'question': 'How many singers do we have?',
 'context': 'CREATE TABLE singer (Id VARCHAR)',
 'db_id': 'concert_singer',
 'query': 'CREATE TABLE singer (Id VARCHAR) \n-- Question: How many singers do we have?\n-- Answer:\n'}

In [9]:
def log(txt):
    with open("eval_out.txt", "w+") as f:
        f.write(txt)
    print(txt)

def get_eval_rewards(model):
    p = pipeline(task="text-generation", model=model, tokenizer=tokenizer, max_new_tokens=120)
    
    rewards = []
    for row in tqdm(dataset):
        out = p(row["query"])
        response = out[0]["generated_text"]
        
        # remove our query, split by newlines
        response_lines = response.replace(row["query"], "").split("\n")
        model_submission = response_lines[0]
        rew = get_reward(row["db_id"], model_submission, row["answer"])
        rewards.append(rew)
        
        log(row["query"])
        log(model_submission)
        log("-------------------------------------------------")
        log(f"-- Got reward of {rew} against solution:")
        log(row['answer'])
        log("-------------------------------------------------")
        # break

In [10]:
get_eval_rewards(load_model(DPO_ADAPTER_DIRECTORY))

/home/ubuntu/.local/lib/python3.10/site-packages/peft/tuners/lora/bnb.py:229: UserWarning: Merge lora module to 4-bit linear may get different generations due to rounding errors.
  warnings.warn(

  0%|          | 0/568 [00:00<?, ?it/s]

/home/ubuntu/.local/lib/python3.10/site-packages/transformers/generation/utils.py:1518: UserWarning: You have modified the pretrained model configuration to control generation. This is a deprecated strategy to control generation and will be removed soon, in a future version. Please use and modify the model generation configuration (see https://huggingface.co/docs/transformers/generation_strategies#default-text-generation-configuration )
  warnings.warn(

CREATE TABLE singer (Id VARCHAR)
-- Question: How many singers do we have?
-- Answer:

SELECT COUNT(*) FROM singer;
-------------------------------------------------
-- Got reward of 2.0 against solution:
SELECT count(*) FROM singer
-------------------------------------------------
CREATE TABLE singer (name VARCHAR, country VARCHAR, age VARCHAR)
-- Question: Show name, country, age for all singers ordered by age from the oldest to the youngest.
-- Answer:

SELECT name, country, age FROM singer ORDER BY age DESC
-------------------------------------------------
-- Got reward of 2.0 against solution:
SELECT name ,  country ,  age FROM singer ORDER BY age DESC
-------------------------------------------------
CREATE TABLE singer (age INTEGER, country VARCHAR)
-- Question: What is the average, minimum, and maximum age of all singers from France?
-- Answer:

SELECT AVG(age) FROM singer WHERE country='France'
-------------------------------------------------
-- Got reward of 1.000009999900001 against solution:
SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
-------------------------------------------------
CREATE TABLE singer (song_name VARCHAR, song_release_year VARCHAR, age VARCHAR)
-- Question: Show the name and the release year of the song by the youngest singer.
-- Answer:

-- SELECT song_name, song_release_year FROM singer WHERE age = 18
-------------------------------------------------
-- Got reward of 1.5000049999500005 against solution:
SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1
-------------------------------------------------
CREATE TABLE singer (country VARCHAR, age INTEGER)
-- Question: What are all distinct countries where singers above age 20 are from?
-- Answer:

SELECT country FROM singer WHERE age > 20 GROUP BY country
-------------------------------------------------
-- Got reward of 2.0 against solution:
SELECT DISTINCT country FROM singer WHERE age  >  20
-------------------------------------------------
CREATE TABLE singer (country VARCHAR)
-- Question: Show all countries and the number of singers in each country.
-- Answer:

SELECT country, COUNT(*) FROM singer GROUP BY country
-------------------------------------------------
-- Got reward of 2.0 against solution:
SELECT country ,  count(*) FROM singer GROUP BY country
-------------------------------------------------
CREATE TABLE singer (song_name VARCHAR, age INTEGER)
-- Question: List all song names by singers above the average age.
-- Answer:

SELECT song_name FROM singer WHERE age > (SELECT AVG(age) FROM singer)
-------------------------------------------------
-- Got reward of 2.0 against solution:
SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)
-------------------------------------------------
CREATE TABLE stadium (LOCATION VARCHAR, name VARCHAR, capacity INTEGER)
-- Question: Show location and name for all stadiums with a capacity between 5000 and 10000.
-- Answer:

SELECT LOCATION, name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
-------------------------------------------------
-- Got reward of 2.0 against solution:
SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
-------------------------------------------------
CREATE TABLE stadium (average VARCHAR, capacity INTEGER)
-- Question: What is the maximum capacity and the average of all stadiums ?
-- Answer:

SELECT max(capacity), avg(capacity) FROM stadium;
-------------------------------------------------
-- Got reward of 1.000009999900001 against solution:
select max(capacity), average from stadium
-------------------------------------------------
CREATE TABLE stadium (capacity INTEGER)
-- Question: What is the average and maximum capacities for all stadiums ?
-- Answer:

SELECT AVG(capacity) AS avg_capacity, MAX(capacity) AS max_capacity FROM stadium
-------------------------------------------------
-- Got reward of 2.0 against solution:
select avg(capacity) ,  max(capacity) from stadium
-------------------------------------------------

/home/ubuntu/.local/lib/python3.10/site-packages/transformers/pipelines/base.py:1101: UserWarning: You seem to be using the pipelines sequentially on GPU. In order to maximize efficiency please use a dataset
  warnings.warn(

CREATE TABLE stadium (name VARCHAR, capacity VARCHAR, average VARCHAR)
-- Question: What is the name and capacity for the stadium with highest average attendance?
-- Answer:

-- SELECT name, capacity, AVG(attendance) FROM stadium GROUP BY name, capacity ORDER BY AVG(attendance) DESC LIMIT 1
-------------------------------------------------
-- Got reward of 1.5000049999500005 against solution:
SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
-------------------------------------------------
CREATE TABLE concert (YEAR VARCHAR)
-- Question: How many concerts are there in year 2014 or 2015?
-- Answer:

SELECT COUNT(*) FROM concert WHERE YEAR = '2014' OR YEAR = '2015'
-------------------------------------------------
-- Got reward of 2.0 against solution:
SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
-------------------------------------------------
CREATE TABLE stadium (name VARCHAR, stadium_id VARCHAR); CREATE TABLE concert (stadium_id VARCHAR)
-- Question: Show the stadium name and the number of concerts in each stadium.
-- Answer:

SELECT stadium.name, count(concert.stadium_id) FROM concert INNER JOIN stadium ON stadium.stadium_id = concert.stadium_id GROUP BY stadium.name;
-------------------------------------------------
-- Got reward of 2.0 against solution:
SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id
-------------------------------------------------
CREATE TABLE stadium (name VARCHAR, capacity VARCHAR, stadium_id VARCHAR); CREATE TABLE concert (stadium_id VARCHAR, year VARCHAR)
-- Question: Show the stadium name and capacity with most number of concerts in year 2014 or after.
-- Answer:

SELECT name, capacity FROM stadium WHERE year = 2014 OR year > 2014;
-------------------------------------------------
-- Got reward of 0.3265115742241697 against solution:
SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1
-------------------------------------------------
CREATE TABLE concert (stadium_id VARCHAR, year INTEGER); CREATE TABLE stadium (name VARCHAR, capacity VARCHAR, stadium_id VARCHAR)
-- Question: What is the name and capacity of the stadium with the most concerts after 2013 ?
-- Answer:

SELECT stadium_id, MAX(capacity) FROM concert GROUP BY stadium_id ORDER BY capacity DESC;
-------------------------------------------------
-- Got reward of 0.518321055348816 against solution:
select t2.name ,  t2.capacity from concert as t1 join stadium as t2 on t1.stadium_id  =  t2.stadium_id where t1.year  >  2013 group by t2.stadium_id order by count(*) desc limit 1
-------------------------------------------------
CREATE TABLE concert (YEAR VARCHAR)
-- Question: Which year has most number of concerts?
-- Answer:

SELECT YEAR, COUNT(*) FROM concert GROUP BY YEAR ORDER BY COUNT(*) DESC LIMIT 1
-------------------------------------------------
-- Got reward of 1.000009999900001 against solution:
SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
-------------------------------------------------
CREATE TABLE stadium (name VARCHAR, stadium_id VARCHAR); CREATE TABLE concert (name VARCHAR, stadium_id VARCHAR)
-- Question: Show the stadium names without any concert.
-- Answer:

-- SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert);
-------------------------------------------------
-- Got reward of 1.500001249996875 against solution:
SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)
-------------------------------------------------
CREATE TABLE singer (country VARCHAR, age INTEGER)
-- Question: Show countries where a singer above age 40 and a singer below 30 are from.
-- Answer:

-- SELECT country FROM singer WHERE age > 40 AND age < 30
-------------------------------------------------
-- Got reward of 1.5000049999500005 against solution:
SELECT country FROM singer WHERE age  >  40 INTERSECT SELECT country FROM singer WHERE age  <  30
-------------------------------------------------
CREATE TABLE stadium (name VARCHAR, stadium_id VARCHAR); CREATE TABLE concert (stadium_id VARCHAR, year VARCHAR); CREATE TABLE stadium (name VARCHAR)
-- Question: Show names for all stadiums except for stadiums having a concert in year 2014.
-- Answer:

SELECT name FROM stadium WHERE year NOT IN (2014);
-------------------------------------------------
-- Got reward of 0.593944171871643 against solution:
SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014
-------------------------------------------------
CREATE TABLE singer_in_concert (concert_id VARCHAR); CREATE TABLE concert (concert_name VARCHAR, theme VARCHAR, concert_id VARCHAR)
-- Question: Show the name and theme for all concerts and the number of singers in each concert.
-- Answer:

SELECT concert_name, theme, COUNT(singer_in_concert.concert_id) FROM concert, singer_in_concert WHERE concert.concert_id = singer_in_concert.concert_id GROUP BY concert_name, theme;
-------------------------------------------------
-- Got reward of 2.0 against solution:
SELECT T2.concert_name ,  T2.theme ,  count(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id
-------------------------------------------------
CREATE TABLE singer_in_concert (concert_id VARCHAR); CREATE TABLE concert (concert_name VARCHAR, theme VARCHAR, concert_id VARCHAR)
-- Question: What are the names , themes , and number of singers for every concert ?
-- Answer:

-- SELECT concert_name, theme, count(singer_in_concert.concert_id) FROM concert, singer_in_concert WHERE concert.concert_id = singer_in_concert.concert_id GROUP BY concert_name, theme;
-------------------------------------------------
-- Got reward of 1.5000008333319443 against solution:
select t2.concert_name ,  t2.theme ,  count(*) from singer_in_concert as t1 join concert as t2 on t1.concert_id  =  t2.concert_id group by t2.concert_id
-------------------------------------------------
CREATE TABLE singer_in_concert (singer_id VARCHAR); CREATE TABLE singer (name VARCHAR, singer_id VARCHAR)
-- Question: List singer names and number of concerts for each singer.
-- Answer:

-- SELECT singer.name, COUNT(singer_in_concert.singer_id) FROM singer, singer_in_concert WHERE singer.singer_id = singer_in_concert.singer_id GROUP BY singer.name;
-------------------------------------------------
-- Got reward of 1.500000999998 against solution:
SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id
-------------------------------------------------
CREATE TABLE singer_in_concert (singer_id VARCHAR, concert_id VARCHAR); CREATE TABLE concert (concert_id VARCHAR, year VARCHAR); CREATE TABLE singer (name VARCHAR, singer_id VARCHAR)
-- Question: List all singer names in concerts in year 2014.
-- Answer:

SELECT singer.name, concert.year FROM singer INNER JOIN concert ON singer.singer_id = concert.singer_id WHERE concert.year = 2014;
-------------------------------------------------
-- Got reward of 0.4453769815984037 against solution:
SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id JOIN concert AS T3 ON T1.concert_id  =  T3.concert_id WHERE T3.year  =  2014
-------------------------------------------------
CREATE TABLE singer (name VARCHAR, country VARCHAR, song_name VARCHAR)
-- Question: what is the name and nation of the singer who have a song having 'Hey' in its name?
-- Answer:

-- SELECT name, country FROM singer WHERE song_name LIKE '%Hey%'
-------------------------------------------------
-- Got reward of 1.5000049999500005 against solution:
SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'
-------------------------------------------------
CREATE TABLE stadium (name VARCHAR, location VARCHAR, stadium_id VARCHAR); CREATE TABLE concert (stadium_id VARCHAR, Year VARCHAR)
-- Question: Find the name and location of the stadiums which some concerts happened in the years of both 2014 and 2015.
-- Answer:

SELECT name, location FROM stadium WHERE stadium_id IN (SELECT stadium_id FROM concert WHERE year = 2014 AND year = 2015)
-------------------------------------------------
-- Got reward of 1.5000049999500005 against solution:
SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2014 INTERSECT SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2015
-------------------------------------------------
CREATE TABLE concert (stadium_id VARCHAR, capacity VARCHAR); CREATE TABLE stadium (stadium_id VARCHAR, capacity VARCHAR)
-- Question: Find the number of concerts happened in the stadium with the highest capacity .
-- Answer:

SELECT stadium_id, capacity FROM concert WHERE capacity = (SELECT MAX(capacity) FROM concert);
-------------------------------------------------
-- Got reward of 0.7280252083092642 against solution:
select count(*) from concert where stadium_id = (select stadium_id from stadium order by capacity desc limit 1)
-------------------------------------------------
CREATE TABLE pets (weight INTEGER)
-- Question: Find the number of pets whose weight is heavier than 10.
-- Answer:

SELECT COUNT(*) FROM pets WHERE weight > 10;
-------------------------------------------------
-- Got reward of 2.0 against solution:
SELECT count(*) FROM pets WHERE weight  >  10
-------------------------------------------------
CREATE TABLE pets (weight VARCHAR, pet_age VARCHAR)
-- Question: Find the weight of the youngest dog.
-- Answer:

-- SELECT pet_age FROM pets WHERE weight = '10'
-------------------------------------------------
-- Got reward of 1.5000049999500005 against solution:
SELECT weight FROM pets ORDER BY pet_age LIMIT 1
-------------------------------------------------
CREATE TABLE pets (petType VARCHAR, weight INTEGER)
-- Question: Find the maximum weight for each type of pet. List the maximum weight and pet type.
-- Answer:

-- SELECT petType, MAX(weight) FROM pets GROUP BY petType
-------------------------------------------------
-- Got reward of 1.5000024999875001 against solution:
SELECT max(weight) ,  petType FROM pets GROUP BY petType
-------------------------------------------------
CREATE TABLE student (stuid VARCHAR, age INTEGER); CREATE TABLE has_pet (stuid VARCHAR)
-- Question: Find number of pets owned by students who are older than 20.
-- Answer:

-- SELECT COUNT(stuid) FROM student WHERE age > 20;
-------------------------------------------------
-- Got reward of 1.5000049999500005 against solution:
SELECT count(*) FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid WHERE T1.age  >  20
-------------------------------------------------
CREATE TABLE has_pet (stuid VARCHAR, petid VARCHAR); CREATE TABLE pets (petid VARCHAR, pettype VARCHAR); CREATE TABLE student (stuid VARCHAR, sex VARCHAR)
-- Question: Find the number of dog pets that are raised by female students (with sex F).
-- Answer:

SELECT COUNT(petid) FROM has_pet WHERE sex = 'F' AND pettype = 'dog'
-------------------------------------------------
-- Got reward of 0.4382504900892779 against solution:
SELECT count(*) FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T2.petid  =  T3.petid WHERE T1.sex  =  'F' AND T3.pettype  =  'dog'
-------------------------------------------------
CREATE TABLE pets (pettype VARCHAR)
-- Question: Find the number of distinct type of pets.
-- Answer:

SELECT COUNT(DISTINCT pettype) FROM pets;
-------------------------------------------------
-- Got reward of 2.0 against solution:
SELECT count(DISTINCT pettype) FROM pets
-------------------------------------------------
CREATE TABLE has_pet (stuid VARCHAR, petid VARCHAR); CREATE TABLE student (Fname VARCHAR, stuid VARCHAR); CREATE TABLE pets (petid VARCHAR, pettype VARCHAR)
-- Question: Find the first name of students who have cat or dog pet.
-- Answer:

-- SELECT Fname FROM student WHERE pettype='cat' OR pettype='dog'
-------------------------------------------------
-- Got reward of 1.5000024999875001 against solution:
SELECT DISTINCT T1.Fname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat' OR T3.pettype  =  'dog'
-------------------------------------------------
CREATE TABLE student (fname VARCHAR, stuid VARCHAR); CREATE TABLE has_pet (stuid VARCHAR, petid VARCHAR); CREATE TABLE pets (petid VARCHAR, pettype VARCHAR)
-- Question: Find the first name of students who have both cat and dog pets .
-- Answer:

SELECT fname FROM student WHERE stuid IN (SELECT stuid FROM has_pet WHERE petid IN (SELECT petid FROM pets WHERE pettype = 'cat')) AND stuid IN (SELECT stuid FROM has_pet WHERE petid IN (SELECT petid FROM pets WHERE pettype = 'dog'));
-------------------------------------------------
-- Got reward of 2.0 against solution:
select t1.fname from student as t1 join has_pet as t2 on t1.stuid  =  t2.stuid join pets as t3 on t3.petid  =  t2.petid where t3.pettype  =  'cat' intersect select t1.fname from student as t1 join has_pet as t2 on t1.stuid  =  t2.stuid join pets as t3 on t3.petid  =  t2.petid where t3.pettype  =  'dog'
-------------------------------------------------
CREATE TABLE has_pet (stuid VARCHAR, petid VARCHAR); CREATE TABLE student (Fname VARCHAR, stuid VARCHAR); CREATE TABLE pets (petid VARCHAR, pettype VARCHAR)
-- Question: What are the students' first names who have both cats and dogs as pets?
-- Answer:

-- SELECT stuid FROM has_pet WHERE pettype='cat' AND pettype='dog'
-------------------------------------------------
-- Got reward of 2.0 against solution:
SELECT T1.Fname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat' INTERSECT SELECT T1.Fname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'dog'
-------------------------------------------------
CREATE TABLE student (stuid VARCHAR); CREATE TABLE has_pet (stuid VARCHAR, petid VARCHAR); CREATE TABLE pets (petid VARCHAR, pettype VARCHAR); CREATE TABLE student (major VARCHAR, age VARCHAR, stuid VARCHAR)
-- Question: Find the major and age of students who do not have a cat pet.
-- Answer:

SELECT major, age FROM student WHERE stuid NOT IN (SELECT stuid FROM has_pet WHERE petid='cat');
-------------------------------------------------
-- Got reward of 2.0 against solution:
SELECT major ,  age FROM student WHERE stuid NOT IN (SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat')
-------------------------------------------------
CREATE TABLE has_pet (stuid VARCHAR, petid VARCHAR); CREATE TABLE pets (petid VARCHAR, pettype VARCHAR); CREATE TABLE student (stuid VARCHAR)
-- Question: Find the id of students who do not have a cat pet.
-- Answer:

-- SELECT stuid FROM has_pet WHERE petid NOT IN (SELECT petid FROM pets);
-------------------------------------------------
-- Got reward of 1.5000001515151056 against solution:
SELECT stuid FROM student EXCEPT SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat'
-------------------------------------------------
CREATE TABLE has_pet (stuid VARCHAR, petid VARCHAR); CREATE TABLE student (fname VARCHAR, age VARCHAR, stuid VARCHAR); CREATE TABLE pets (petid VARCHAR, pettype VARCHAR)
-- Question: Find the first name and age of students who have a dog but do not have a cat as a pet.
-- Answer:

-- SELECT fname, age FROM student WHERE stuid IN (SELECT stuid FROM has_pet WHERE pettype='dog') AND NOT EXISTS (SELECT petid FROM pets WHERE petid='cat');
-------------------------------------------------
-- Got reward of 1.5000049999500005 against solution:
SELECT T1.fname ,  T1.age FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'dog' AND T1.stuid NOT IN (SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat')
-------------------------------------------------
CREATE TABLE pets (pettype VARCHAR, weight VARCHAR, pet_age VARCHAR)
-- Question: Find the type and weight of the youngest pet.
-- Answer:

-- SELECT pettype, weight FROM pets WHERE pet_age = (SELECT MIN(pet_age) FROM pets)
-------------------------------------------------
-- Got reward of 1.5000049999500005 against solution:
SELECT pettype ,  weight FROM pets ORDER BY pet_age LIMIT 1
-------------------------------------------------
CREATE TABLE pets (petid VARCHAR, weight VARCHAR, pet_age INTEGER)
-- Question: Find the id and weight of all pets whose age is older than 1.
-- Answer:

-- SELECT petid, weight FROM pets WHERE pet_age > 1
-------------------------------------------------
-- Got reward of 1.5000024999875001 against solution:
SELECT petid ,  weight FROM pets WHERE pet_age  >  1
-------------------------------------------------
CREATE TABLE pets (pettype VARCHAR, pet_age INTEGER)
-- Question: Find the average and maximum age for each type of pet.
-- Answer:

-- SELECT AVG(pet_age) AS avg_age, MAX(pet_age) AS max_age
-------------------------------------------------
-- Got reward of 1.5000024999875001 against solution:
SELECT avg(pet_age) ,  max(pet_age) ,  pettype FROM pets GROUP BY pettype
-------------------------------------------------
CREATE TABLE pets (pettype VARCHAR, weight INTEGER)
-- Question: Find the average weight for each pet type.
-- Answer:

SELECT AVG(weight) FROM pets WHERE pettype = 'cat'
-------------------------------------------------
-- Got reward of 1.0000074999375006 against solution:
SELECT avg(weight) ,  pettype FROM pets GROUP BY pettype
-------------------------------------------------
CREATE TABLE student (fname VARCHAR, age VARCHAR, stuid VARCHAR); CREATE TABLE has_pet (stuid VARCHAR)
-- Question: Find the first name and age of students who have a pet.
-- Answer:

-- SELECT fname, age FROM student WHERE stuid IN (SELECT stuid FROM has_pet);
-------------------------------------------------
-- Got reward of 1.5000024999875001 against solution:
SELECT DISTINCT T1.fname ,  T1.age FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid
-------------------------------------------------
CREATE TABLE has_pet (petid VARCHAR, stuid VARCHAR); CREATE TABLE student (stuid VARCHAR, Lname VARCHAR)
-- Question: Find the id of the pet owned by student whose last name is ‘Smith’.
-- Answer:

-- SELECT stuid FROM student WHERE Lname='Smith' AND stuid IN (SELECT petid FROM has_pet WHERE Lname='Smith');
-------------------------------------------------
-- Got reward of 1.5000049999500005 against solution:
SELECT T2.petid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid WHERE T1.Lname  =  'Smith'
-------------------------------------------------
CREATE TABLE has_pet (stuid VARCHAR); CREATE TABLE student (stuid VARCHAR)
-- Question: Find the number of pets for each student who has any pet and student id.
-- Answer:

SELECT stuid, COUNT(stuid) FROM has_pet WHERE stuid IS NOT NULL GROUP BY stuid;
-------------------------------------------------
-- Got reward of 1.0000049999750003 against solution:
SELECT count(*) ,  T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid GROUP BY T1.stuid
-------------------------------------------------
CREATE TABLE has_pet (stuid VARCHAR); CREATE TABLE student (stuid VARCHAR)

KeyboardInterrupt:

In [ ]:
print(dataset["query"][1])

In [ ]:
print(p(dataset["query"][3])[0])

In [ ]:
max(map(len, dataset["answer"]))